<h1>All Tags</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number of images</th>
  </tr>
  <% @tags.each do |tag| %>
    <tr>
      <td><%= link_to tag.name, images_path(:tag_query => tag.name) %></td>
      <td><%= tag.taggings_count %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "All images", images_path %>
