// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-image-form {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 1em;

  margin: 2em;

  input[type="text"], textarea {
    font-size: 0.9rem;
    font-family: inherit;
    padding: 0.5em;
    width: 35ch;
    border: 1px solid lightgray;

    transition: border 250ms;

    &:is(:hover, :focus) {
      border: 1px solid gray;
      outline: none;
    }
  }
}

.fullsize {
  height: 100vh;
  width: auto;
  display: block;
  margin: 0 auto;
}

.ahidden {
  position: absolute;
  top: 5px;
  left: 8px;
  color: black;
}
.ahidden:hover {
  color: white;
}

.images-index {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;

  margin: 2em 2%;

  img {
    width: clamp(300px, 18vw, 600px);
    height: clamp(300px, 18vw, 600px);
    object-fit: cover;
    transition: transform ease-out 200ms;

    &:is(:hover, :focus) {
      transform: scale(1.05); // kills performance lol
    }
  }
}

.videos-container {
  display: flex;
  flex-flow: row wrap;
}
.videos-index {
  margin: 0 auto;
  flex: 0 1 40%;
  height: 400px;
  overflow-y: scroll;

  a {
    display: block;
    width: 100%;
    padding: 0.2em 0.5em;
    color: black;
    background-color: white;
    transition: background-color 100ms;

    &:nth-child(even) {
      background-color: #f2f2f2;
    }
    &:is(:hover, :focus) {
      color: black;
      background-color: #e0e0e0;
    }
  }
}
.video-player {
  margin: 0 auto 2em;
  height: 400px;
  aspect-ratio: 16 / 9;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    max-height: 100%;
    width: 100%;
  }
}

.image-wrapper {
  position: relative;

  .edit-image-link {
    display: none;
    color: black;
    background-color: white;

    position: absolute;
    top: 5px;
    left: 5px;
    padding: 0.2em 0.5em;
  }

  &:hover .edit-image-link {
    display: block;
  }
}

/* header */
header {
  text-align: right;
  position: absolute;
  width: 98%;
}
