<h1>Here are all your images lol</h1>

<%= link_to "Add image", new_image_path %>

<div class="images-index">
  <% @images.each do |image| %>
    <div>
      <%= link_to image_tag(image.url), image %>
    </div>
  <% end %>
</div>
